<!DOCTYPE html>
<html lang="es-PY">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Administrador</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
</head>
<body class="bg-gray-100 text-gray-900">

    <header class="bg-blue-600 text-white py-6 px-4">
        <div class="max-w-7xl mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-semibold">Bienvenido, Administrador</h1>
            <nav>
                <ul class="flex space-x-6">
                    <li><a href="/" class="hover:text-blue-300">Inicio</a></li>
                    <li><a href="/" onclick="logout()" class="hover:text-blue-300">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container mx-auto px-4 py-8">
        <h2 class="text-xl font-semibold mb-4">Gestión de Usuarios</h2>
        <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow">
            <thead class="bg-blue-100">
                <tr>
                    <th class="py-2 px-4 border">Id</th>
                    <th class="py-2 px-4 border">Email</th>
                    <th class="py-2 px-4 border">Rol</th>
                    <th class="py-2 px-4 border">Acciones</th>
                </tr>
            </thead>
            <tbody id="usersTableBody">
                <!-- Los usuarios serán insertados aquí mediante JavaScript -->
            </tbody>
        </table>
    </main>

    <footer class="bg-blue-600 text-white text-center py-4 mt-8">
        <p>&copy; 2024 Sistema de Autenticación</p>
    </footer>

    
</body>
</html>
<script  type='text/javascript' src="script.js"></script>

